
define host {
    use                     linux-server
    host_name               exxomm-frontend
    alias                   Frontend Web Server
    address                 10.0.1.107 
}

define host {
    use                     linux-server
    host_name               exxomm-backend
    alias                   Backend API Server
    address                 10.0.1.165 
}

# --- CORRECTION 1: Frontend runs on Port 3000 ---
define service {
    use                     generic-service
    host_name               exxomm-frontend
    service_description     Frontend Health (Port 3000)
    # We must specify -p 3000 because React runs here
    check_command           check_http!-p 3000
}

# --- CORRECTION 2: Backend runs on Port 8080 ---
define service {
    use                     generic-service
    host_name               exxomm-backend
    service_description     Backend API Health (Port 8000)
    # We must specify -p 8080 because Node.js runs here
    check_command           check_http!-p 8000
}